body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  font-size: 20px !important;
}
.flex-container{
  display: flex !important;
}

select{
  box-shadow: none !important;
  border-color: black !important;
}
#card-img-top{
height: 120px;
}
#container{
margin-right: 550px;
margin-left: 450px;
}
.nav-link{
  color: white !important;
}
#carousel{
  max-height: 700px;
}
.carousalImg{
  object-fit: contain !important;
}
.button:hover .card{
  display: block;
}



